body{
    margin:0;
    padding:0 ;
    font-family: Arial;
}
.top{
    width:100vw;
    height:10vh;
    background-color: white;
}
.top .name{
    width: fit-content;
    height: fit-content;
    background-color: black;
    color:white;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1vw;
    margin-left: 5vw;
    padding-top:1vw;
    padding-bottom:1vw;
    padding-left:5vw ;
    padding-right:5vw ;
}
.top .bar{
    position: absolute;
    top:0;
    right:0;
    width:50vw;
    height: 10vh;
}
.top .bar p{
    position: relative;
    top:5vh;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 0.2vw;
    padding-bottom: 1vh;
    border-bottom: 3px solid black;
    margin: 0;
    margin-left: 3vw;
    margin-right: 3vw;
    display: inline-block;
}
.t_sche{
    position: relative;
    width:100vw;
    height:10vh;
    background-color: black;
    color: white;
}
.t_sche .ts {
 width:20vw;
 height:10vh;
 line-height: 10vh;
 text-align: center;
 color:white;
 font-weight: 600;
 font-size: 20px;
 letter-spacing: 0.2vw;
}
.t_sche .detail{
    position: absolute;
    top:0;
    left:30vw;
}
.t_sche .detail .d1{
    display: inline-block;
    height:10vh;
    margin-left:5vw;
}
.t_sche .detail .d1 p{
    width:fit-content;
    padding: 0;
    margin: 0;
}
.t_sche .detail .d1 p:nth-child(1){
    position: absolute;
    top:2vh;
    
font-size: 10px;
}
.t_sche .detail .d1 p:nth-child(2){
margin-top: 4vh;
font-size: 20px;
}